@model IEnumerable<MediPlus.Models.Secretarium>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Secretarias</h1>

<p>
    <a asp-action="Create">Registrar Secretaria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                Doctor
            </th>
            <th>
                Usuario Asignado 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oficina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoctorNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Email)
            </td>
            <td>
                <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a  class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a  class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
