@model MediPlus.Models.Medico

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del Registro</h1>


<div>
    <h4>Medico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oficina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oficina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            Especialidad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EspecialidadNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
           Usuario Asignado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Email)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>  |
    <a asp-action="Index">Volver a la lista</a>
</div>
